@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

// Custom Color 
$white:    #fff;
$black:    #000;

// Gray
$gray-50:  #F7FAFC;
$gray-100: #EDF2F7;
$gray-200: #E2E8F0;
$gray-300: #CBD5E0;
$gray-400: #A0AEC0;
$gray-500: #718096;
$gray-600: #4A5568;
$gray-700: #2D3748;
$gray-800: #1A202C;
$gray-900: #171923;

$primary: #38A169;
$light: #48BB78;
$secondary: #091E40;
$warning: #081731;
$danger : #050E1F;

$carousel-indicator-opacity: 1;
$carousel-indicator-width: 8px;
$carousel-indicator-height: 8px;


/* import bootstrap to set changes */
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";