@import './mixins';


a {
    color: #A0AEC0;
}

span.line{
    opacity: 0;
    margin-right: 0.5rem;
    width: 13px;
    content: '';
}

.isCurrent {

    a {
        color: $white;
        font-weight: 500;
    }

    span.line {
        opacity: 1;
        margin-right: 0.5rem;
        width: 13px;
        height: 7px;
        content: '';
        border-bottom: 0.25rem solid $primary;
        margin-top: -0.5rem;
    }

}

.header{
       
    .navbar{
        background-color: transparent;

        &.active {
            background-color: $warning;
        }

        .navbar-toggler {
            border-color: transparent !important;
        }


        .navbar-nav {

            ul {
                list-style-type: none; /* Remove bullets */
                padding: 0; /* Remove padding */
                margin: 0; /* Remove margins */
        
                li {
        
                    a {
                        text-decoration: none;
                    }
                }
            }
        
        }
 

    }
    
    .content {
        
        h1 {
            font-size: 3rem;
            font-weight: 700;
            color: $gray-100;

            @include media-breakpoint-down(md) {
                font-size: 2rem;
            }

        }

        p {
            font-size: 1.125rem;
            color: $gray-300;

            @include media-breakpoint-down(md){
                font-size: 0.875rem;
            }

        }

        button {
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            padding-left: 2.75rem;
            padding-right: 2.75rem;
            font-size: 1.125rem;
            font-weight: 700;
            color: $gray-900;
            border-radius: 10px;
            box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}

.hero-section {
    position: relative;
    z-index: 0;

    .carousel {

        .carousel-inner {

            .carousel-item {
                background-color: $primary;
                position: relative;

                .overlay {
                    background-color: rgba(#000000, 0.70);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    opacity: 1;
                    visibility: visible;
                }

                .carousel-caption {

                    
                    @include media-breakpoint-up(xl) {
                        @include heroTitle;
                        width: 25%;                          
                    }

                    @include media-breakpoint-down(xl) {
                        @include absoluteCenter;
                        width: 70%; 
                    }

                    .caption {
                        text-align: left;

                        @include media-breakpoint-down(xl) {
                            text-align: center;
                        }

                        h5 {
                            color: $white;
                            font-weight: 500;
                            line-height: 1.5;

                        }

                        p {
                            color: $gray-200;
                            font-size: 1.125rem;

                            @include media-breakpoint-down(xl) {
                                font-size: 1rem;
                            }
                        }

                    }
                }

                .desc {

                    @include media-breakpoint-up(xl) {
                        @include heroDesc;
                        width: 21%;                          
                    }
                }

                img {
                    height: 50rem;
                    object-fit: cover;

                    @include media-breakpoint-down(xl) {
                        height: 30rem;
                        object-fit: cover;
                    }

                    @include media-breakpoint-down(md) {
                        height: 20rem;
                        object-fit: cover;
                    }
                }
            }
        }

        .carousel-indicators{
            @include midLeft;

            button {
                margin-top: -0.5rem;
                background-color: $white;

                &.active {
                    background-color: $light;
                }

            }

        }

    }

}

.news-section {
    position: relative;
    z-index: 99;
    margin-top: -6.5rem;
    
    @include media-breakpoint-down(xl){
        margin-top: 0;
    }

    &--content {
        width: 30%;

        @include media-breakpoint-down(md){
            width: 100%;
        }

    }

    &--arrow {

        @include media-breakpoint-up(xl){
            position: absolute;
            left: 96%;
        }

        @include media-breakpoint-down(xl){
            position: absolute;
            left: 87%;
        }

        @include media-breakpoint-down(md){
            position: relative;
            left: 50%;
            top: 10%;
            transform: translate(-50%, -50%);
        }

        svg {
            fill: $primary;
            width: 35px;
            height: 35px;            
              
            &:hover {
                cursor: pointer;
            }

        }

    }

}

.cta2-section {
    padding-top: 15rem;
    padding-bottom: 15rem;

    @include media-breakpoint-down(lg) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

}

.cta3-section {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.services-section {
    padding-top: 110px;
    padding-bottom: 110px;
    
     
    &--content {
        background-color: $white ;

        @include media-breakpoint-down(lg) {
            margin-bottom: 2rem;
        }

        h4 {
            font-size: 1.125rem;
            font-weight: 600;
            color: $gray-700;
        }
    
        p {
            width: 90%;
            color: $gray-500;
            line-height: 1.75;
        }

        a {
            text-decoration: none;

            span {
                color: #38A169;
            }
    
            svg {
                color: #38A169;
            }

        }

    }

}

.faq-section {
    padding-top: 120px;
    padding-bottom: 120px;

    &--wrapper {
        margin-top: 4rem;
    }
}

.cta4-section {
    
    
    &--wrapper {

        &--img {
            position: relative;
            width: 100%;
            height: auto;

            @include media-breakpoint-up(xl){
                height:100%;
            }

            @include media-breakpoint-down(xl){
                height: 400px;
            }

            @include media-breakpoint-down(md){
                height: 300px;
            }

            &:after {
                content:'\A';
                position:absolute;
                width:100%; 
                top:0; 
                left:0;
                background:rgba(0,0,0,0.75);
                opacity:1;

                @include media-breakpoint-up(xl){
                    height:100%;
                }

                @include media-breakpoint-down(xl){
                    height: 400px;
                }

                @include media-breakpoint-down(md){
                    height: 300px;
                }

            }

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                vertical-align: top;

                @include media-breakpoint-up(xl){
                    height:100%;
                }

                @include media-breakpoint-down(xl){
                    height: 400px;
                }

                @include media-breakpoint-down(md){
                    height: 300px;
                }

            }

        }

        &--center {
            width: 25%;

            @include media-breakpoint-down(xxl) {
                width: 75%;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
            }

            h2 {
                color: $white;
                font-size: 36px;
                line-height: 1.5;

                @include media-breakpoint-down(md){
                    font-size: 1.5rem;
                }

            }

        }

    }

}

.footer-section {

    &--1 {
        margin-top : 60px;

        p {
            line-height: 1.75;
        }
    
    }


    &--line {
        margin-top: 50px;
        margin-bottom: 30px;

        @include media-breakpoint-down(lg){
            margin-top: 30px;
            margin-bottom: 20px;
        }

    }

    &--2 {
        margin-bottom: 80px;

        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

        }

        h4 {
            line-height: 2;
            border-bottom: 2px solid $primary;
            width: fit-content;
            margin-bottom: 1rem;
        }

        p {
            line-height: 1.75;
        }

        ul {
            line-height: 1.75;
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove padding */
            margin: 0; /* Remove margins */
        }

        img {
            max-width: 50px;
            height: auto;
        }

        iframe {
            width: 100%;
            height: 180px; 
            border-radius: 5px;
        }

    }


}