
// ABSOLUTE CENTER 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    @include media-breakpoint-down(md){
        top: 40%;
    }

}


// MID LEFT
@mixin midLeft {
    position: absolute;
    left: 0%;
    top: 62%;
    transform: translate(-50%, -50%);
}

// BOTTOM LEFT CORNER
@mixin bottomLeftCorner {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Hero Section Title
@mixin heroTitle {
    position: absolute;
    top: 33%;
    left: 33%;
    transform: translate(-50%, -50%);
}

// Hero Section Desc
@mixin heroDesc {
    position: absolute;
    top: 62%;
    right: 7%;
    transform: translate(-50%, -50%);
}