
.text{
    font-size: 0.875rem;
    color: $gray-600;
    line-height: 1.75;

    @include media-breakpoint-down(lg) {
        font-size: 0.75rem;
    }

    &.text-news, &.text-faq {
        color: #4A5568;
    }
    
    &.text-hero {
        color: $gray-200;
    }

    &.text-cta2 {
        color: $gray-300;
    }

    &.text-cta3 {
        color: $gray-500;
    }

    &.text-cta4 {
        color: $white;
        font-weight: 500;
    }

    &.text-footer {
        color: $white;
    }

}

.text-small {
    font-size: 0.75rem;
    color: $gray-600;
    line-height: 1;

    @include media-breakpoint-down(lg) {
        font-size: 0.65rem;
    }

    &.text-news-category {
        color: #38A169;
        font-weight: 600;
    }

    &.text-news-date {
        color: #A0AEC0;
        font-weight: 600;
    }

    &.section-desc {
        line-height: 1.75;
        color: $gray-500;
    }

    &.text-footer {
        color: $white;
    }

}

.text-section-header-big {
    font-size: 2.25rem;
    font-weight: 600;

    @include media-breakpoint-down(xl){
        font-size: 1.5rem;
    }

    @include media-breakpoint-down(md){
        font-size: 1.25rem;
    }

    &.text-header-cta3 {
        color: $gray-700;
    }

}

.text-section-header-small {
    font-size: 1.5rem;
    font-weight: 600;
    
    @include media-breakpoint-down(lg){
        font-size: 1.25rem;
    }

    &.text-header-faq, &.text-header-services{
        color: $gray-700;
    }

    &.text-header-footer {
        color: $white;
    }

}