@import "./custom.scss";
@import "./landing-page";
@import "./typography";

html {
    scroll-behavior: smooth;
}   

body {
    background-color: #EDF2F7;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    // max-width: 100vw;
}


img, svg {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}